// bower:scss
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
// endbower

$base-bg-color: #0d1921;
$base-font-color: #aec0ca;
$highlight-color: darken(#E2C044, 15%);
$break-small: 640px;
$break-medium: 768px;
$break-lrg: 1024px;

@import 'partials/reset';
//
@import 'partials/body';
@import 'partials/commentbubble';
@import 'partials/commentsoverlay';
@import 'partials/loader';
@import 'partials/logo';
@import 'partials/menu';
@import 'partials/modal';
@import 'partials/videoplayer';
